{% extends 'base.html.twig' %}

{% block title %}Agent{% endblock %}

{% block content %}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2 position-relative">
          Liste des agents 
          <span class=" badge rounded-pill bg-primary">
            {{ agents.getTotalItemCount }}
          </span>
    
        </h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#agentModal">Nouveau agent</button>
            
            <!-- Full screen modal -->
            <div class="modal fade" id="agentModal" tabindex="-1" aria-labelledby="agentModalLabel" aria-hidden="true" style="display: none;">
              <div class="modal-dialog modal-fullscreen-xxl-down">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-4" id="agentModalFullscreenXxlLabel">
                      {% if is_creating_agent %}Nouveau {% else %} Modifier {% endif %}agent
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  {{ form_start(form_agent_salaire) }}
                    <div class="modal-body">
                      <div class="d-flex align-items-start">
                        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                          <button class="nav-link active text-start" id="v-pills-perso-tab" data-bs-toggle="pill" data-bs-target="#v-pills-perso" type="button" role="tab" aria-controls="v-pills-perso" aria-selected="true">
                              Informations personnelles
                          </button>
                          <button class="nav-link text-start" id="v-pills-pro-tab" data-bs-toggle="pill" data-bs-target="#v-pills-pro" type="button" role="tab" aria-controls="v-pills-pro" aria-selected="true">
                              Informations professionnelles
                          </button>
                          <button class="nav-link text-start" id="v-pills-salaire-tab" data-bs-toggle="pill" data-bs-target="#v-pills-salaire" type="button" role="tab" aria-controls="v-pills-salaire" aria-selected="false">
                              Base Salariale
                          </button>
                        </div>
                        <div class="tab-content col-8" id="v-pills-tabContent">
                          
                            <div class="tab-pane fade show active" id="v-pills-perso" role="tabpanel" aria-labelledby="v-pills-perso-tab" tabindex="0">
                              <div class="row mb-2">
                                <div class="col">
                                    <label for="nom" class="h5 form-label col-sm-2 col-form-label col-form-label-sm">{{ form_label(form_agent_salaire.agent.nom) }}</label>
                                    {{ form_widget(form_agent_salaire.agent.nom, {'attr': {'placeholder':"Nom de l'agent"}}) }}
                                </div>
                              </div>
                              <div class="row mb-2">
                                <div class="col-6">
                                    <label for="nom" class="h5 form-label col-sm-2 col-form-label col-form-label-sm">{{ form_label(form_agent_salaire.agent.postnom) }}</label>
                                    {{ form_widget(form_agent_salaire.agent.postnom, {'attr': {'placeholder':"Postnom de l'agent"}}) }}
                                </div>
                                <div class="col-6">
                                    <label for="nom" class="h5 form-label col-sm-2 col-form-label col-form-label-sm">{{ form_label(form_agent_salaire.agent.prenom) }}</label>
                                    {{ form_widget(form_agent_salaire.agent.prenom, {'attr': {'placeholder':"Prénom de l'agent"}}) }}
                                </div>
                              </div>
                              <div class="row mb-2">
                                <div class="col-6">
                                    <label for="nom" class="h5 form-label col-sm-2 col-form-label col-form-label-sm">{{ form_label(form_agent_salaire.agent.sexe) }}</label>
                                    {{ form_widget(form_agent_salaire.agent.sexe, {'attr': {'placeholder':"Sexe de l'agent"}}) }}
                                </div>
                                <div class="col-6">
                                    <label for="nom" class="h5 form-label col-sm-2 col-form-label col-form-label-sm">{{ form_label(form_agent_salaire.agent.etatCivil) }}</label>
                                    {{ form_widget(form_agent_salaire.agent.etatCivil, {'attr': {'placeholder':"Etat civil de l'agent"}}) }}
                                </div>
                              </div>
                              <div class="row mb-2">
                                <div class="col-6">
                                    <label for="nom" class="h5 form-label col-form-label col-form-label-sm">{{ form_label(form_agent_salaire.agent.lieuNaissance) }}</label>
                                    {{ form_widget(form_agent_salaire.agent.lieuNaissance, {'attr': {'placeholder':"Lieu de naissance de l'agent"}}) }}
                                </div>
                                <div class="col-6">
                                    <label for="nom" class="h5 form-label col-form-label col-form-label-sm">{{ form_label(form_agent_salaire.agent.dateNaissance) }}</label>
                                    {{ form_widget(form_agent_salaire.agent.dateNaissance, {'attr': {'placeholder':"Date de naissance de l'agent"}}) }}
                                </div>
                              </div>
                              <div class="row mb-2">
                                <div class="col-6">
                                    <label for="nom" class="h5 form-label col-form-label col-form-label-sm">{{ form_label(form_agent_salaire.agent.nationalite) }}</label>
                                    {{ form_widget(form_agent_salaire.agent.nationalite, {'attr': {'placeholder':"Lieu de naissance de l'agent"}}) }}
                                </div>
                                <div class="col-6">
                                    <label for="nom" class="h5 form-label col-form-label col-form-label-sm">{{ form_label(form_agent_salaire.agent.nombreEnfant) }}</label>
                                    {{ form_widget(form_agent_salaire.agent.nombreEnfant, {'attr': {'placeholder':"Date de naissance de l'agent"}}) }}
                                </div>
                              </div>
                            </div>

                            <div class="tab-pane fade" id="v-pills-pro" role="tabpanel" aria-labelledby="v-pills-pro-tab" tabindex="0">
                              <div class="row mb-2">
                                <div class="col-6">
                                    <label for="nom" class="h5 form-label col-form-label col-form-label-sm">{{ form_label(form_agent_salaire.agent.matricule) }}</label>
                                    {{ form_widget(form_agent_salaire.agent.matricule, {'attr': {'placeholder':"Matricule de l'agent"}}) }}
                                </div>
                                <div class="col-6">
                                    <label for="nom" class="h5 form-label col-form-label col-form-label-sm">{{ form_label(form_agent_salaire.agent.numeroCnss) }}</label>
                                    {{ form_widget(form_agent_salaire.agent.numeroCnss, {'attr': {'placeholder':"Numéro CNSS de l'agent"}}) }}
                                </div>
                              </div>
                              <div class="row mb-2">
                                <div class="col-6">
                                    <label for="nom" class="h5 form-label col-form-label col-form-label-sm">{{ form_label(form_agent_salaire.agent.diplome) }}</label>
                                    {{ form_widget(form_agent_salaire.agent.diplome, {'attr': {'placeholder':"Niveau d'études de l'agent"}}) }}
                                </div>
                                <div class="col-6">
                                    <label for="nom" class="h5 form-label col-form-label col-form-label-sm">{{ form_label(form_agent_salaire.agent.fonction) }}</label>
                                    {{ form_widget(form_agent_salaire.agent.fonction, {'attr': {'placeholder':"Fonction de l'agent"}}) }}
                                </div>
                              </div>
                              <div class="row mb-2">
                                <div class="col-6">
                                    <label for="nom" class="h5 form-label col-form-label col-form-label-sm">{{ form_label(form_agent_salaire.agent.debutContrat) }}</label>
                                    {{ form_widget(form_agent_salaire.agent.debutContrat, {'attr': {'placeholder':"Lieu de naissance de l'agent"}}) }}
                                </div>
                                <div class="col-6">
                                    <label for="nom" class="h5 form-label col-form-label col-form-label-sm">{{ form_label(form_agent_salaire.agent.finContrat) }}</label>
                                    {{ form_widget(form_agent_salaire.agent.finContrat, {'attr': {'placeholder':"Date de naissance de l'agent"}}) }}
                                </div>
                              </div>
                            </div>
                          
                          <div class="tab-pane fade" id="v-pills-salaire" role="tabpanel" aria-labelledby="v-pills-salaire-tab" tabindex="0">
                            <div class="h4">Remuneration</div>
                            <div class="row mb-2">
                              <div class="col-6">
                                  <label for="nom" class="h5 form-label col-form-label col-form-label-sm">{{ form_label(form_agent_salaire.remuneration.base) }}</label>
                                  {{ form_widget(form_agent_salaire.remuneration.base, {'attr': {'placeholder':"Base salariale de l'agent"}}) }}
                              </div>
                              <div class="col-6">
                                  <label for="nom" class="h5 form-label col-form-label col-form-label-sm">{{ form_label(form_agent_salaire.remuneration.primeDiplome) }}</label>
                                  {{ form_widget(form_agent_salaire.remuneration.primeDiplome, {'attr': {'placeholder':"Prime diplôme de l'agent"}}) }}
                              </div>
                            </div>

                            <div class="row mb-2">
                              <div class="col-6">
                                  <label for="nom" class="h5 form-label col-form-label col-form-label-sm">{{ form_label(form_agent_salaire.remuneration.heureSupplementaire) }}</label>
                                  {{ form_widget(form_agent_salaire.remuneration.heureSupplementaire, {'attr': {'placeholder':"Heure supplémentaire de l'agent"}}) }}
                              </div>
                            </div>

                            <div class="h4 mt-2">Indemnité</div>
                            <div class="row mb-2">
                              <div class="col-6">
                                  <label for="nom" class="h5 form-label col-form-label col-form-label-sm">{{ form_label(form_agent_salaire.indemnite.transport) }}</label>
                                  {{ form_widget(form_agent_salaire.indemnite.transport, {'attr': {'placeholder':"Transport de l'agent"}}) }}
                              </div>
                              <div class="col-6">
                                  <label for="nom" class="h5 form-label col-form-label col-form-label-sm">{{ form_label(form_agent_salaire.indemnite.logement) }}</label>
                                  {{ form_widget(form_agent_salaire.indemnite.logement, {'attr': {'placeholder':"Logement de l'agent"}}) }}
                              </div>
                            </div>
                            <div class="row mb-2">
                              <div class="col-6">
                                  <label for="nom" class="h5 form-label col-form-label col-form-label-sm">{{ form_label(form_agent_salaire.indemnite.allocationFamiliale) }}</label>
                                  {{ form_widget(form_agent_salaire.indemnite.allocationFamiliale, {'attr': {'placeholder':"Allocation familiale de l'agent"}}) }}
                              </div>
                              <div class="col-6">
                                  <label for="nom" class="h5 form-label col-form-label col-form-label-sm">{{ form_label(form_agent_salaire.indemnite.autres) }}</label>
                                  {{ form_widget(form_agent_salaire.indemnite.autres, {'attr': {'placeholder':"Autres indemnité de l'agent"}}) }}
                              </div>
                            </div>
                          </div>  
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-primary">Créer</button>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    </div>
                  {{ form_end(form_agent_salaire) }}
                </div>
              </div>
            </div>

            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar align-text-bottom" aria-hidden="true"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
            This week
          </button>
        </div>
      </div>

      <div class="table-responsive">
        {% for message in app.flashes('success') %}
          <div class="alert alert-success alert-dismissible" role="alert">{{ message }}</div>
        {% endfor %}

        <table class="table table-striped table-sm table-hover">
          <thead>
            <tr>
              <th scope="col">Matricule</th>
              <th scope="col">{{ knp_pagination_sortable(agents, 'Nom de famille', 'nom') }}</th>
              <th scope="col">{{ knp_pagination_sortable(agents, 'Prénom', 'prenom') }}</th>
              <th scope="col">Sexe</th>
              <th scope="col">Etat civil</th>
              <th scope="col">Niveau d'étude</th>
              <th scope="col">Cnss</th>
              <th scope="col">{{ knp_pagination_sortable(agents, "Nombre d'enfant", 'nombreEnfant') }}</th>
              <th scope="col">Fonction</th>
               <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
       
          {% for agent in agents %}
            <tr>
              <td>{{ agent.matricule }}</td>
              <td>{{ agent.getNomFamille }}</td>
              <td>{{ agent.prenom }}</td>
              <td>{{ agent.sexe }}</td>
              <td>{{ agent.etatCivil.titre }}</td>
              <td>{{ agent.diplome.titre }}</td>
              <td>{{ agent.numeroCnss }}</td>
              <td>{{ agent.nombreEnfant }}</td>
              <td>{{ agent.fonction.titre }}</td>
              <td>
                <a class="btn btn-primary btn-sm update-agent"  data-id="{{ agent.id }}"
                onclick="updateBtn(this, '{{ path('home_agent_update', {'id':agent.id }) }}')">Modifier<a>

                <a class="btn btn-danger btn-sm delete-agent" data-id="{{ agent.id }}" 
                onclick="delBtn(this, '{{ path('home_agent_delete', {'id':agent.id }) }}')">Supprimer</a>
              </td>
            </tr>
            {% endfor%}
          </tbody>

        </table>
        <div>
          <nav aria-label="Page navigation example">
             {{ knp_pagination_render(agents) }}
          </nav>
        </div>
      </div>
    </main>
{% endblock %}

{% block extra_javascripts %}

  <script src="{{ asset('js/app/agents.js') }}"></script>

{% endblock %}
