{% extends 'base.html.twig' %}

{% block title %}Paiement{% endblock %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <!-- Notification -->
    <div aria-live="polite" aria-atomic="true" class="position-relative bd-example-toasts rounded-3">
        <div class="toast-container p-3" id="toastPlacement">
            <div class="toast" id="notification" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Notification</strong>
                <small>Maintenant</small>
            </div>
            <div class="toast-body" id="notification-body"></div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="col-2"> 
            <div class="row">
                <div class="row">
                    <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="offcanvas" 
                        data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Changer d'agent</button>
                </div>

                <div class="row">
                    <h5 class="text-start">Matricule</h5>
                    <span> {{ agent.matricule }}</span>
                </div>

                <div class="row">
                    <h5 class="text-start">Noms</h5>
                    <span>{{ agent.getNomFamille }}</span>
                </div>

                <div class="row">
                    <h5 class="text-start">Prénom</h5>
                    <span>{{ agent.prenom }}</span>
                </div>

                <div class="row">
                    <h5 class="text-start">Fonction</h5>
                    <span>{{ agent.fonction.titre }}</span>
                </div>

                <div class="row">
                    <h5 class="text-start">Numéro CNSS</h5>
                    <span>{{ agent.numeroCnss }}</span>
                </div>

                <div class="row">
                    <h5 class="text-start">Etat civil</h5>
                    <span>{{ agent.etatCivil.titre }}</span>
                </div>
                
                <div class="row">
                    <h5 class="text-start">Sexe</h5>
                    <span>{{ agent.sexe }}</span>
                </div>
            </div>
        </div>  
        <div class="col-9">   
            {{ form_start(form_paie) }}
                <div class="row">
                    <div class="col-6">
                            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                                <h4 class="h5 position-relative">Rémunération</h4>
                            </div>

                            <div class="col-12">
                                <div class="row mb-2">
                                    <div class="col">
                                        <label for="paiement_dateAt" class="h5 form-label col-form-label col-form-label-sm">{{ form_label(form_paie.dateAt, 'Date du paiement') }}</label>
                                        {{ form_widget(form_paie.dateAt, {'attr': {'placeholder':"Date de paiement"}}) }}
                                        <div class="invalid-feedback">
                                            {{ form_errors(form_paie.dateAt) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col">
                                        <label for="paiement_base" class="h5 form-label col-form-label col-form-label-sm">{{ form_label(form_paie.base, 'Slaire de base') }}</label>
                                        {{ form_widget(form_paie.base, {'attr': {'placeholder':"Montant salaire de base"}}) }}
                                        <div class="invalid-feedback">
                                            {{ form_errors(form_paie.base) }}
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label for="paiement_primeDiplome" class="h5 form-label col-form-label col-form-label-sm">{{ form_label(form_paie.primeDiplome) }}</label>
                                        {{ form_widget(form_paie.primeDiplome, {'attr': {'placeholder':"Montant prime diplôme"}}) }}
                                        <div class="invalid-feedback">
                                            {{ form_errors(form_paie.primeDiplome) }}
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="row mb-2">
                                    <div class="col">
                                        <label for="paiement_heureSupplementaire" class="h5 form-label col-form-label col-form-label-sm">{{ form_label(form_paie.heureSupplementaire) }}</label>
                                        {{ form_widget(form_paie.heureSupplementaire, {'attr': {'placeholder':"Montant heures supplémentaire"}}) }}
                                        <div class="invalid-feedback">
                                            {{ form_errors(form_paie.base) }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                                <h4 class="h5 position-relative">Indemnité divers</h4>
                            </div>
                            <div class="col-12">
                                <div class="row mb-2">
                                    <div class="col">
                                        <label for="paiement_transport" class="h5 form-label col-sm-2 col-form-label col-form-label-sm">{{ form_label(form_paie.transport) }}</label>
                                        {{ form_widget(form_paie.transport, {'attr': {'placeholder':"Montant transport"}}) }}
                                        <div class="invalid-feedback">
                                            {{ form_errors(form_paie.transport) }}
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label for="paiement_logement" class="h5 form-label col-form-label col-form-label-sm">{{ form_label(form_paie.logement) }}</label>
                                        {{ form_widget(form_paie.logement, {'attr': {'placeholder':"Motant logement"}}) }}
                                        <div class="invalid-feedback">
                                            {{ form_errors(form_paie.logement) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col">
                                        <label for="paiement_allocationFamiliale" class="h5 form-label col-form-label col-form-label-sm">{{ form_label(form_paie.allocationFamiliale) }}</label>
                                        {{ form_widget(form_paie.allocationFamiliale, {'attr': {'placeholder':"Montant allocation familiale"}}) }}
                                        <div class="invalid-feedback">
                                            {{ form_errors(form_paie.allocationFamiliale) }}
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label for="paiement_autres" class="h5 form-label col-form-label col-form-label-sm">{{ form_label(form_paie.autres) }}</label>
                                        {{ form_widget(form_paie.autres, {'attr': {'placeholder':"Motant autres indemnités"}}) }}
                                        <div class="invalid-feedback">
                                            {{ form_errors(form_paie.autres) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    
                    <div class="col-6">
                            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                                <h4 class="h5 position-relative">Déduction</h4>
                            </div>
                            <div class="col-12">
                                <div class="row mb-2">
                                    <div class="col">
                                        <label for="npaiement_cnss" class="h5 form-label col-form-label col-form-label-sm">{{ form_label(form_paie.cnss) }}</label>
                                        {{ form_widget(form_paie.cnss, {'attr': {'placeholder':"Montant CNSS"}}) }}
                                        <div class="invalid-feedback">
                                            {{ form_errors(form_paie.cnss) }}
                                        </div>
                                    </div>

                                    <div class="col">
                                        <label for="paiement_ipr" class="h5 form-label col-form-label col-form-label-sm">{{ form_label(form_paie.ipr) }}</label>
                                        {{ form_widget(form_paie.ipr, {'attr': {'placeholder':"Montant IPR"}}) }}
                                        <div class="invalid-feedback">
                                            {{ form_errors(form_paie.ipr) }}
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row mb-2">
                                    <div class="col">
                                        <label for="paiement_avanceSalaire" class="h5 form-label col-form-label col-form-label-sm">{{ form_label(form_paie.avanceSalaire) }}</label>
                                        {{ form_widget(form_paie.avanceSalaire, {'attr': {'placeholder':"Montant avance salaire"}}) }}
                                        <div class="invalid-feedback">
                                            {{ form_errors(form_paie.avanceSalaire) }}
                                        </div>
                                    </div>

                                    <div class="col">
                                        <label for="paiement_pretLogement" class="h5 form-label col-form-label col-form-label-sm">{{ form_label(form_paie.pretLogement) }}</label>
                                        {{ form_widget(form_paie.pretLogement, {'attr': {'placeholder':"Montant prêt logement"}}) }}
                                        <div class="invalid-feedback">
                                            {{ form_errors(form_paie.pretLogement) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col">
                                        <label for="paiement_pretFraisScolaire" class="h5 form-label col-form-label col-form-label-sm">{{ form_label(form_paie.pretFraisScolaire) }}</label>
                                        {{ form_widget(form_paie.pretFraisScolaire, {'attr': {'placeholder':"Montant prêt frais scolaire"}}) }}
                                        <div class="invalid-feedback">
                                            {{ form_errors(form_paie.pretFraisScolaire) }}
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label for="paiement_pretDeuil" class="h5 form-label col-form-label col-form-label-sm">{{ form_label(form_paie.pretDeuil) }}</label>
                                        {{ form_widget(form_paie.pretDeuil, {'attr': {'placeholder':"Montant prêt deuil"}}) }}
                                        <div class="invalid-feedback">
                                            {{ form_errors(form_paie.pretDeuil) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col">
                                        <label for="paiement_pretAutre" class="h5 form-label col-form-label col-form-label-sm">{{ form_label(form_paie.pretAutre) }}</label>
                                        {{ form_widget(form_paie.pretAutre, {'attr': {'placeholder':"Montant autres prêt"}}) }}
                                        <div class="invalid-feedback">
                                            {{ form_errors(form_paie.pretAutre) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col">
                                        <span class="h5 form-label col-form-label col-form-label-sm">Net à payer</span>
                                        <h4 id="paiement_net">{{ paiement.calculNetAPayer | number_format }} FC</h4>
                                    </div>
                                </div>
                                <div class="row mt-6">
                                    <div class="col d-grid gap-2">
                                        <button class="btn btn-success">
                                            {% if paiement.id == null %}
                                                Enregistrer
                                            {% else %}
                                                Mettre à jour
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
            {{ form_end(form_paie) }}
        </div>
    </div>

    <!-- Liste des agents -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasRightLabel">Liste des agents</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            ...
        </div>
    </div>
</main>
{% endblock %}

{% block extra_javascripts %}

  <script src="{{ asset('js/app/paie.js') }}"></script>

{% endblock %}