{% extends 'base.html.twig' %}

{% block title %}Paiements{% endblock %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2 position-relative">
        Liste des paiements 
      </h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        {% if agent.statusContrat == "en cours" %}
        <div class="btn-group me-2">
          <a href="{{ path('home_agent_paiement', {id: agent.id}) }}" class="btn btn-sm btn-outline-secondary">Nouvelle paie</a>

          <button type="button" class="btn btn-sm btn-outline-secondary">Importer</button>
        </div>
        {% endif %}
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar align-text-bottom" aria-hidden="true"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
          This week
        </button>
      </div>
    </div>  

    <div class="table-responsive">
      {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible" role="alert">{{ message }}</div>
      {% endfor %}
        
        <h5>Agent : {{ agent.nomComplet }}</h5>
        <h6>Matricule : {{ agent.matricule }}</h6>  
        <h6>N° CNSS : {{ agent.numeroCnss }}</h6>
        <h6>Contrat : {{ agent.typeContrat }} {{ agent.statusContrat }}</h6>
        {% if agent.typeContrat == "CDD" %}
        <h6>Durée contrat : Du {{ agent.debutContrat | date('d/m/Y') }} au {{ agent.finContrat | date('d/m/Y') }}</h6>
        {% endif%}

        <table class="table table-striped table-sm table-hover">
            <thead>
              <tr>
                <th scope="col">{{ knp_pagination_sortable(paiements, 'Date de paiement', 'dateAt') }}</th>
                <th scope="col">Salaire de base</th>
                <th scope="col">Indemnités</th>
                <th scope="col">Salaire brut</th>
                <th scope="col">Déduction</th>
                <th scope="col">Salaire Net</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
                {% for paiement in paiements%}
                <tr>
                    <td>{{ paiement.dateAt | date('d/m/Y') }}</td>
                    <td>{{ paiement.calculBrutImposable }} FC</td>
                    <td>{{ paiement.calculTotalIndemnite }} FC</td>
                    <td>{{ paiement.calculSalaireBrut }} FC</td>
                    <td>{{ paiement.calculDeduction }} FC</td>
                    <td>{{ paiement.calculNetAPayer }} FC</td>
                    <td>
                        <a class="btn btn-primary btn-sm update-agent" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" 
                        href="{{ path('home_agent_paiement_update', {'id':agent.id, paiement_id: paiement.id }) }}">Modifier<a>
        
                        <a class="btn btn-danger btn-sm delete-agent" data-id="{{ paiement.id }}" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" 
                        onclick="delBtn(this, '{{ path('home_agent_paiment_delete', {id: agent.id, paiement_id: paiement.id }) }}')">Supprimer</a>
                      </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        <div>
            <nav aria-label="Page navigation example">
               {{ knp_pagination_render(paiements) }}
            </nav>
          </div>
    </div>
  </main>

{% endblock %}

{% block extra_javascripts %}

  <script src="{{ asset('js/app/paiements.js') }}"></script>

{% endblock %}