{% extends 'base.html.twig' %}

{% block title %}Configuration{% endblock %}

{% block content %}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
            <h1 class="h2 position-relative">Configuration</h1>
        </div>

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h4 class="h5 position-relative">Diplomes</h4>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group me-2">

                     <!--  modal -->
                    <div class="modal fade" id="diplomeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="diplomeModalLabel" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-4" id="agentModalFullscreenXxlLabel">
                                        Modifier diplôme
                                    </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                {{ form_start(form_diplome) }}
                                    <div class="modal-body">
                                        <div class="col-12">

                                            <div class="row mb-2">
                                                <div class="col">
                                                    <label for="diplome_primeDiplome" class="h5 form-label col-form-label col-form-label-sm">{{ form_label(form_diplome.primeDiplome) }}</label>
                                                    {{ form_widget(form_diplome.primeDiplome, {'attr': {'placeholder':"Montant de la prime"}}) }}
                                                    <div class="invalid-feedback">
                                                        {{ form_errors(form_diplome.primeDiplome) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Modifier</button>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                    </div>
                                {{ form_end(form_diplome) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% for message in app.flashes('success') %}
          <div class="alert alert-success alert-dismissible" role="alert">{{ message }}</div>
        {% endfor %}

        <div class="table-responsive">
            {% for message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible" role="alert">{{ message }}</div>
            {% endfor %}

            <table class="table  table-sm table-hover">
                <thead>
                    <tr>
                        <th scope="col">{{ knp_pagination_sortable(diplomes, "Niveau d'études", 'titre') }}</th>
                        <th scope="col">{{ knp_pagination_sortable(diplomes, 'Prime diplôme', 'primeDiplome') }}</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
            
                    {% for diplome in diplomes %}
                    <tr>
                        <td>{{ diplome.titre }}</td>
                        <td>{{ diplome.primeDiplome }}</td>
                        <td>
                            {% if page_param == null %}
                                <a class="btn btn-primary btn-sm update-diplome"  data-id="{{ diplome.id }}" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                               onclick="updateBtn(this, '{{ path('app_configuration_diplome_update', {'id':diplome.id }) }}')">Modifier<a>
                            {% else %}
                                <a class="btn btn-primary btn-sm update-diplome"  data-id="{{ diplome.id }}" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                                onclick="updateBtn(this, '{{ path('app_configuration_diplome_update', {'id':diplome.id, 'page':page_param}) }}')">Modifier<a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor%}
                </tbody>
            </table>
        <div>
        <nav aria-label="Page navigation example">
            {{ knp_pagination_render(diplomes) }}
        </nav>
    </main>

{% endblock %}

{% block extra_javascripts %}

  <script src="{{ asset('js/app/diplome.js') }}"></script>

{% endblock %}