{% extends 'base.html.twig' %}

{% block title %}Configuration{% endblock %}

{% block content %}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
            <h1 class="h2 position-relative">Configuration</h1>
        </div>

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h4 class="h5 position-relative">Exercices</h4>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group me-2">
                    <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exerciceModal">Nouvelle exercice</button>

                     <!--  modal -->
                    <div class="modal fade" id="exerciceModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exerciceModalLabel" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-4" id="agentModalFullscreenXxlLabel">
                                    {% if is_creating_exercice %}Nouvelle {% else %} Modifier {% endif %}exercice
                                    </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                {{ form_start(form_exercice) }}
                                    <div class="modal-body">
                                        <div class="col-12">
                                            
                                            <div class="row mb-2">
                                                <div class="col">
                                                    <label for="exercice_debutAnnee" class="h5 form-label col-form-label col-form-label-sm">{{ form_label(form_exercice.debutAnnee, 'Début année') }}</label>
                                                    {{ form_widget(form_exercice.debutAnnee, {'attr': {'placeholder':"Date de début d'exercice"}}) }}
                                                    <div class="invalid-feedback">
                                                        {{ form_errors(form_exercice.debutAnnee) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col">
                                                    <label for="exercice_finAnnee" class="h5 form-label col-form-label col-form-label-sm">{{ form_label(form_exercice.finAnnee, 'Fin année') }}</label>
                                                    {{ form_widget(form_exercice.finAnnee, {'attr': {'placeholder':"Date de fin d'exercice"}}) }}
                                                    <div class="invalid-feedback">
                                                        {{ form_errors(form_exercice.finAnnee) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">{% if is_creating_exercice %} Créer {% else %} Modifier {% endif %}</button>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                    </div>
                                {{ form_end(form_exercice) }}
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Importer</button>
                </div>
            </div>
        </div>

        {% for message in app.flashes('success') %}
          <div class="alert alert-success alert-dismissible" role="alert">{{ message }}</div>
        {% endfor %}

        <div class="table-responsive">
            {% for message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible" role="alert">{{ message }}</div>
            {% endfor %}

            <table class="table  table-sm table-hover">
                <thead>
                    <tr>
                        <th scope="col">{{ knp_pagination_sortable(exercices, "Début d'exercice", 'debutAnnee') }}</th>
                        <th scope="col">{{ knp_pagination_sortable(exercices, "Fin d'exercice", 'finAnnee') }}</th>
                        <th scope="col">Exercice clôturé</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
            
                    {% for exercice in exercices %}
                    <tr>
                    <td>{{ exercice.debutAnnee | date('d/m/Y') }}</td>
                    <td>{{ exercice.finAnnee | date('d/m/Y') }}</td>
                    <td>
                        {% if exercice.estCloture %}
                            <span class="badge rounded-pill text-bg-danger">Clôturé</span>
                        {% else %}
                            <span class="badge rounded-pill text-bg-success">En cours</span>
                        {% endif %}
                    </td>
                    <td>
                        
                        {% if page_param == null %}
                        <a class="btn btn-primary btn-sm update-exercice"  data-id="{{ exercice.id }}" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                        onclick="updateBtn(this, '{{ path('app_configuration_exercice_update', {'id':exercice.id }) }}')">Modifier<a>
                        {% else %}
                        <a class="btn btn-primary btn-sm update-exercice"  data-id="{{ exercice.id }}" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                        onclick="updateBtn(this, '{{ path('app_configuration_exercice_update', {'id':exercice.id, 'page':page_param}) }}')">Modifier<a>
                        {% endif %}

                        {% if exercice.estCloture  %}
                            <a class="btn btn-success btn-sm update-exercice"  data-id="{{ exercice.id }}" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                               onclick="updateBtn(this, '{{ path('app_configuration_exercice_activate', {'id':exercice.id, 'page':page_param}) }}')">Activer<a>
                        {% endif %}
                    </td>
                    </tr>
                    {% endfor%}
                </tbody>
            </table>
        <div>
        <nav aria-label="Page navigation example">
            {{ knp_pagination_render(exercices) }}
        </nav>
    </main>

{% endblock %}

{% block extra_javascripts %}

  <script src="{{ asset('js/app/exercice.js') }}"></script>

{% endblock %}